{% extends "layout.njk" %}

{% block content %}
	<section id="forums">
		{% for category in categories %}
			<section class="forum-category">
				<h2>{{category.name}}</h2>

				<table>
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>Last thread</th>
						</tr>
					</thead>
					<tbody>
						{% for section in category.sections %}
							<!-- Change icon based on read status. -->
							{% if section.isRead %}
							<tr class="forum-status-read">
							{% else %}
							<tr class="forum-status-unread">
							{% endif %}
								<td class="forum-status-icon">
									<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
								</td>
								<td class="forum-name">
									<a href="{{pathPrefix}}/{{category.slug}}/{{section.slug}}">
										{{section.name}}
									</a>
									<p class="description">{{section.description}}</p>
								</td>
								<td class="forum-last-thread-information">
									<ul>
										<li><a href="guest-thread.html">Some random thread</a></li>
										<li>by <a href="#">username</a></li>
										<li>at <a href="guest-thread.html#postid">2012-12-21 00:00:00 UTC</a></li>
									</ul>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		{% endfor %}

	</section>
{% endblock %}
