{% extends "layout.njk" %}

{% block content %}
	<main id="categories" class="container">
		{% for category in categories %}
			<section class="category">
				<table>
					<thead>
						<tr>
							<th class="table-title" colspan="2">{{category.name}}</th>
							<th>Threads</th>
							<th>Posts</th>
							<th>Last post</th>
						</tr>
					</thead>
					{% for section in category.sections %}
						<tbody>
							<tr>
								<td rowspan="2">
									<!-- TODO: Image -->
								</td>
								<td class="section-title-cell">
									<a href="{{pathPrefix}}/{{category.slug}}/{{section.slug}}">{{ section.name }}</a>
								</td>
								<td rowspan="2">0</td>
								<td rowspan="2">0</td>
								<td rowspan="2">N/A</td>
							</tr>
							<tr>
								<td class="description-cell">{{ section.description }}</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			</section>
		{% endfor %}
	</main>
{% endblock %}
