<header id="main-header">
	<nav class="container">
		<ul>
			<li class="active">
				<a href="{{pathPrefix}}/">Home</a>
			</li>
		</ul>

		<ul>
			<li>
				<a href="{{pathPrefix}}/register">Register</a>
			</li>
			<li>
				<a href="{{pathPrefix}}/login">Log in</a>
			</li>
		</ul>
	</nav>
</header>
