<!DOCTYPE html>
<html>
    <head>
        <title>{{res.locals.title}}</title>
    </head>
    <body>
        <ul>
        {% for category in categories %}
        <li>
            <h1>{{category.name}}</h1>
            <h4>{{category.slug}}</h4>
            <ul>
            {% for section in category.sections %}
                <h2>{{section.name}}</h2>
                <p>{{section.id}}</p>
            {% endfor %}
            </ul>
        </li>
        <br>
        {% endfor%}
        </ul>
    </body>
</html>