<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{pathPrefix}}/stylesheets/normalize.css">
	<link rel="stylesheet" href="{{pathPrefix}}/stylesheets/style.css">
</head>
<body>
	{% include "header.njk" %}

	{% block content %}
	{% endblock %}

	{% include "footer.njk" %}
</body>
</html>
