{% extends "layout.njk" %}

{% block title %}
	{{section.name}} ({{category.name}}) | {{title}}
{% endblock %}

{% block content %}
	<section id="forum">
		<h2>{{section.name}}</h2>

		<ul class="breadcrumb">
			<li>
				<a href="{{pathPrefix}}/">{{title}}</a>
			</li>
			<li>{{section.name}}</li>
		</ul>

		{% if user %}
			<ul class="button-list">
				<li>
					<a href="user-thread-create.html">New thread</a>
				</li>
			</ul>
		{% endif %}

		{% if threads.pinned.length > 0 %}
			<section id="pinned-threads" class="threads">
				<h3>Pinned threads</h3>

				<table>
					<tbody>

						{% for thread in threads.pinned %}
							{% include "section-thread-row.njk" %}
						{% endfor %}

					</tbody>
				</table>
			</section>
		{% endif %}

		<section id="normal-threads" class="threads">
			<h3>Threads</h3>

			{% if threads.normal.content.length > 0 %}
				<table>
					<tbody>

						{% for thread in threads.normal.content %}
							{% include "section-thread-row.njk" %}
						{% endfor %}

					</tbody>
				</table>
			{% else %}
				No threads.
			{% endif %}

		</section>

		<ul class="pagination">
			<li>
				<a href="user-forum.html">«</a>
			</li>
			<li class="current">
				<span>1</span>
			</li>
			<li>
				<a href="user-forum.html">2</a>
			</li>
			<li>
				<a href="user-forum.html">3</a>
			</li>
			<li>
				<span>...</span>
			</li>
			<li>
				<a href="user-forum.html">10</a>
			</li>
			<li>
				<a href="user-forum.html">»</a>
			</li>
		</ul>
	</section>
{% endblock %}
