{% extends "layout.njk" %}

{% block title %}
	{{section.name}} ({{category.name}}) | {{title}}
{% endblock %}

{% block content %}
	<main id="section" class="container">
		<header>
			{{ section.name }}
		</header>

		<table>
			<tbody>
			{% for thread in threads.normal.content %}
				<tr>
					<td>
						{{ thread.name }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
